/* You can add global styles to this file, and also import other style files */
/*body {
  padding: 1em 4em;
}*/

h1 {
  font-family: Helvetica;
  color: white;
  background-color: #0099ff;
  padding: 0.5em;
}

pre {
  font-size: 1.5em;
}
